body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.font_righteous {
  font-family: 'Righteous', cursive;
}

/*houses carousel, countdown*/
.featuredDiv {
  position: relative;
}

/*used in partyInfo, */
.blackBackgroundDiv {
  background: #3c3c3c;
}

.redBackground {
  background: #ff4800;
}

.yellowBackground {
  background: #ffa800;
}

/*====================
        HEADER
======================*/

.header_logo {
  flex-grow: 1;
}
.header_logo_pds {
  font-size: 40px;
}

/*====================
        CAROUSEL
======================*/

.carousel_wrapper {
  height: 100vh;
  overflow: hidden;
}
.carousel_slide1 {
  background-image: url("./assets/images/slide1.jpg");
  background-size: cover;
  height: 100vh;
}
.carousel_slide2 {
  background-image: url("./assets/images/slide2.jpg");
  background-size: cover;
  height: 100vh;
}
.carousel_slide3 {
  background-image: url("./assets/images/slide3.jpg");
  background-size: cover ;
  height: 100vh;
}

/*====================
        COUNTDOWN
======================*/

.countdown_wrapper {
  position: absolute;
  bottom: 0px;
  color: #ffffff;
}
.countdown_top {
  background: #ff4800;
  font-size: 1em;
  padding: 10px;
  display: inline-block;
}
.countdown_bottom {
  display: flex;
  background: #d93d00;
  padding: 10px 20px;
}
.countdown_item {
  padding: 0px 15px;
  border-right: 1px solid #F44336;
}
.countdown_item:first-child {
  padding-left: 0px;
}
.countdown_item:last-child {
  border: none;
  padding-right: 0px;
}
.countdown_time {
  font-size: 3em;
}
.countdown_tag {
  font-size: 0.9em;
  text-align: center;
}

/*====================
        PARTY INFO
======================*/

h2 {
  color: #ffffff;
  text-align: center;
  font-size: 50px;
  margin: 0;
  padding: 50px 0px 0px 0px;
}
h3 {
  color: #ffffff;
  text-align: center;
  font-size: 25px;
  margin: 0;
  padding: 0px 0px 50px 0px;
  font-style: italic;
  font-weight: 100;
}
.center_wrapper {
  width: 85%;
  margin: 0 auto;
}
.pInfo_wrapper {
  display: flex;
  padding: 70px 0px 170px 0px;
}
.pInfo_item {
  width: 50%;
  color: #ffffff;
  text-align: center;
}
.pInfo_outer {
  width: 300px;
  border: 2px solid #828282;
  margin: auto;
  padding: 5px;
}
.pInfo_inner { 
  border: 2px solid #828282;
  position: relative;
  padding: 0px 20px;
}
.pInfo_inner:hover {
  background: #3e3e3e;
}
.pInfo_icon_square {
  width: 100px;
  height: 100px;
  position: absolute;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -54px;
  left: 100px;
}

/*fit icon inside the rotated square*/
.pInfo_icon {
  width: 50px;
  height: 50px;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  position: absolute;
  top: -30px;
  left: 124px;
}
.left {
  background-image: url("./assets/icons/calendar.png");
}
.right {
  background-image: url("./assets/icons/location.png");
}

.pInfo_title {
  font-size: 28px;
  margin: 90px 0px 20px 0px;
  border-bottom: 1px solid #5d5d5d;
  padding-bottom: 10px;
}
.pInfo_time {
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 90px;
}
