body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.font_righteous {
  font-family: 'Righteous', cursive;
}

/*houses carousel, countdown*/
.featuredDiv {
  position: relative;
}

/*used in partyInfo, merchandise */
.blackBackgroundDiv {
  background: #3c3c3c;
}

.redBackground {
  background: #ff4800;
}

.yellowBackground {
  background: #ffa800;
}

/*used in reusable button*/
.icon {
  width: 20px;
  margin-right: 10px;
}

/*====================
        HEADER
======================*/

.header_logo {
  flex-grow: 1;
}
.header_logo_pds {
  font-size: 40px;
}

/*====================
        CAROUSEL
======================*/

.carousel_wrapper {
  height: 100vh;
  overflow: hidden;
}
.carousel_slide1 {
  background-image: url("./assets/images/slide1.jpg");
  background-size: cover;
  height: 100vh;
}
.carousel_slide2 {
  background-image: url("./assets/images/slide2.jpg");
  background-size: cover;
  height: 100vh;
}
.carousel_slide3 {
  background-image: url("./assets/images/slide3.jpg");
  background-size: cover ;
  height: 100vh;
}

/*====================
        COUNTDOWN
======================*/

.countdown_wrapper {
  position: absolute;
  bottom: 0px;
  color: #ffffff;
}
.countdown_top {
  background: #ff4800;
  font-size: 1em;
  padding: 10px;
  display: inline-block;
}
.countdown_bottom {
  display: flex;
  background: #d93d00;
  padding: 10px 20px;
}
.countdown_item {
  padding: 0px 15px;
  border-right: 1px solid #F44336;
}
.countdown_item:first-child {
  padding-left: 0px;
}
.countdown_item:last-child {
  border: none;
  padding-right: 0px;
}
.countdown_time {
  font-size: 3em;
}
.countdown_tag {
  font-size: 0.9em;
  text-align: center;
}

/*====================
        PARTY INFO
======================*/

.pInfo_center_wrapper {
  width: 85%;
  margin: 0 auto;
}
.pInfo_center_wrapper h2 {
  color: #ffffff;
  text-align: center;
  font-size: 50px;
  margin: 0;
  padding: 50px 0px 0px 0px;
}
.pInfo_center_wrapper h3 {
  color: #ffffff;
  text-align: center;
  font-size: 25px;
  margin: 0;
  padding: 0px 0px 50px 0px;
  font-style: italic;
  font-weight: 100;
}
.pInfo_wrapper {
  display: flex;
  padding: 70px 0px 100px 0px;
}
.pInfo_item {
  width: 50%;
  color: #ffffff;
  text-align: center;
}
.pInfo_outer {
  width: 300px;
  border: 2px solid #828282;
  margin: auto;
  padding: 5px;
}
.pInfo_inner { 
  border: 2px solid #828282;
  position: relative;
  padding: 0px 20px;
}
.pInfo_inner:hover {
  background: #3e3e3e;
}
.pInfo_icon_square {
  width: 100px;
  height: 100px;
  position: absolute;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -54px;
  left: 100px;
}

/*fit icon inside the rotated square*/
.pInfo_icon {
  width: 50px;
  height: 50px;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  position: absolute;
  top: -30px;
  left: 124px;
}
.left {
  background-image: url("./assets/icons/calendar.png");
}
.right {
  background-image: url("./assets/icons/location.png");
}

.pInfo_title {
  font-size: 28px;
  margin: 90px 0px 20px 0px;
  border-bottom: 1px solid #5d5d5d;
  padding-bottom: 10px;
}
.pInfo_time {
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 90px;
}

/*====================
        FUN FACTS
======================*/

.funFacts_wrapper {
  padding-bottom: 100px;
}
.funFacts_wrapper h2 {
  color: #2c2c2c;
  text-align: center;
  font-size: 50px;
  margin: 0;
  padding: 50px 0px 50px 0px;
}
.funFacts_list {
  font-size: 25px;
  padding-left: 10%;
}
.funFacts_list ul {
  margin: 0;
}
.funFacts_list li {
  padding: 20px 0px;
}
.funFacts_list li:first-child {
  padding: 0px 0px 20px 0px;
}
.funFacts_list li:last-child {
  padding: 20px 0px 0px 0px;
}

/*====================
        MERCHANDISE
======================*/

.merch_center_wrapper {
  width: 85%;
  margin: 0 auto;
}
.merch_center_wrapper h2 {
  color: #ffffff;
  text-align: center;
  font-size: 50px;
  margin: 0;
  padding: 50px 0px 50px 0px;
}
.pricing_wrapper {
  display: flex;
  flex-wrap: wrap;
}
.pricing_item{
  flex-grow: 1;
  width: 33%;
  padding: 20px;
  box-sizing: border-box;
}
.pricing_inner {
  border: 2px solid #ffa800;
  padding: 40px 20px;
}
.pricing_title {
  color: #ffffff;
  text-align: center;
  border-bottom: 1px solid #ffa800;
  padding-bottom: 20px;
}
.pricing_title span:nth-child(1) {
  font-size: 50px;
  display: block;
}
.pricing_title span:nth-child(2) {
  font-size: 28px;
  font-weight: 300;
}
.pricing_image img {
  padding: 20px 0px;
  min-height: 70px; 
  width: 100%;
}
.pricing_button {
  text-align: center;
}

.discount_wrapper {
  padding: 50px 0px 100px 0px;
  text-align: center;
}
.discount_percentage span:nth-child(1) {
  color: #ff4800;
  font-size: 125px;
  font-weight: 400;
  line-height: 120px;
  padding-right: 25px;
}
.discount_percentage span:nth-child(2) {
  color: #ffffff;
  font-size: 30px;
  font-weight: 400;
  font-style: italic;
}
